* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family:
        "IosevkaTerm Nerd Font Mono", FontAwesome, Roboto, Helvetica, Arial,
        sans-serif;
    font-size: 13px;
}

@define-color base            #191724;
@define-color surface         #1f1d2e;
@define-color overlay         #26233a;

@define-color muted           #6e6a86;
@define-color subtle          #908caa;
@define-color text            #e0def4;

@define-color love            #eb6f92;
@define-color gold            #f6c177;
@define-color rose            #ebbcba;
@define-color pine            #31748f;
@define-color foam            #9ccfd8;
@define-color iris            #c4a7e7;

@define-color highlightLow    #21202e;
@define-color highlightMed    #403d52;
@define-color highlightHigh   #524f67;

window#waybar {
    background-color: @base;
    color: @text;
}

window#waybar.hidden {
    opacity: 0.2;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px @text;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    background-color: @gold;
    color: @base;
}

#workspaces button {
    padding: 0 5px;
    background-color: @base;
    color: @text;
}

#workspaces button:hover {
    background-color: @text;
    color: @base;
}

#workspaces button.focused {
    background-color: @overlay;
    box-shadow: inset 0 -3px @muted;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: @overlay;
    box-shadow: inset 0 -3px @muted;
}

#pulseaudio,
#network,
#cpu,
#memory,
#clock,
#tray {
    background-color: @surface;
    padding: 0 10px;
    margin: 0px 4px;
    color: @text;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces,
.modules-left > widget:last-child > #tray {
    margin-right: 0;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

label:focus {
    background-color: #000000;
}

#tray {
    background-color: @overlay;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}
