@import "macchiato.css";

@define-color critical @red; /* critical color */
@define-color warning @maroon;  /* warning color */
@define-color fgcolor @text;  /* foreground color */
@define-color bgcolor @base;  /* background color */
@define-color alert   @overlay1;

@define-color accent1 @pink;
@define-color accent2 @yellow;
@define-color accent3 @green;
@define-color accent4 @mauve;
@define-color accent5 @rosewater;
@define-color accent6 @blue;

* {
    /* `otf-font-awesome` is required to be installed for icons */
    border: none;
    font-family: "JetBrains Mono NerdFont";
    /* Recommended font sizes: 720p: ~14px, 1080p: ~18px */
    font-size: 14px;
}

window#waybar {

    background-color: rgba(0, 0, 0, 0.0);
    /* border-bottom: 0px solid rgba(100, 114, 125, 0.5); */
    color: @base;
    transition-property: background-color;
    transition-duration: .5s;
    border-radius: 4px;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
    padding: 0px;
    margin: 4px 0 6px 0;
    background-color: @base;
    color: @text;
    min-width: 36px;
    transition: all 0.25s ease;
}

#workspaces button.active {
    padding: 0 0 0 0;
    margin: 4px 0 6px 0;
    background-color: @text;
    color: @base;
    min-width: 36px;
}

#workspaces button.focused {
    background-color: @text;
    color: @base;
}

#workspaces button.urgent {
    color: @red;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#custom-power,
#custom-pacman,
#language,
#window {
    padding: 0px 3px;
    margin: 4px 3px 5px 3px;
    color: @fgcolor;
    background-color: @base;
    padding: 0px 8px;
    border-radius: 4px;
}

/* #window, */
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

If workspaces is the rightmost module, omit right margin
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

*/
#clock {
    color: @accent1;
}

#battery {
    color: @accent5;
}

@keyframes blink {
    to {
        background-color: @text;
        color: @base;
    }
}

label:focus {
    background-color: #000000;
}

#cpu {
    color: @accent1;
}

#memory {
    color: @accent6;
}

#network {
    color: @accent3;
}

#network.disconnected {
    color: @alert;
}

#pulseaudio {
    color: @accent4;
}

#pulseaudio.muted {
    color: @subtext0;
}

#tray {

}

